/EventCreationActivity.class
/EventCreationPlace$Tokenizer.class
/EventCreationPlace.class
/EventCreationView$Presenter.class
/EventCreationView.class
/EventCreationViewImpl$Binder.class
/EventCreationViewImpl$Driver.class
/EventCreationViewImpl.class
/EventCreationViewImpl.ui.xml
/EventEditor$Binder.class
/EventEditor.class
/EventEditor.ui.xml
